/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Estilos generales */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFF1ED;
  margin: 0;
  padding: 0;
}

/* Header */
.header{
  background-color: #D3242B;
  padding: 12px 0;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 200px;
  height: auto;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 20px auto;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Secciones */
.left-section {
  flex: 1;
  padding: 20px;
  min-width: 300px; /* Ajusta el ancho mínimo para dispositivos móviles */
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px; /* Ajusta el ancho mínimo para dispositivos móviles */
}

/* Formulario */
h1 {
  text-align: center;
  color: #000;
}

p {
  color: #717744;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #717744;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="description"],
input[type="price"],
input[type="stock"],
input[type="file"]{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 16px;
}

select{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button.register-button {
  background-color: #D3242B;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 8px;
  font-size: 16px;
  transition: border 0.3s, background-color 0.3s;
  flex-basis: 100%; /* Ajusta el ancho para dispositivos móviles */
}

button.register-button:hover {
  background-color: #EFF1ED;
  border: 1px solid #D3242B;
  color: #D3242B;
}

.cancel-button {
  color: #000000;
  cursor: pointer;
  position: absolute;
  top: 120px;
  left: 20px;
}

.cancel-button .arrow {
  font-size: 14px;
  margin-right: 5px;
}

/* Footer */
footer {
  background-color: #D3242B;
  color: #FFF;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer p{
  color: white;
}

/* Media queries para teléfonos móviles */
@media (max-width: 767px) {
  .right-section {
    display: none; /* Oculta la sección derecha en teléfonos móviles */
  }

  .left-section {
    flex: 1 0 100%; /* Ocupa todo el ancho disponible en teléfonos móviles */
  }
}

textarea {
  width: 100%;
  height: 150px;
}
