{% extends "layout.html" %}

{% block title %}
Contacto
{% endblock %}

{% block main %}
<h4 style="margin-top: 1%; text-align: center;">Ponte en contacto</h4>
<div class="contact">
  <div class="container">
    <div class="left-section">
      <h1>Ferretería El Asesor</h1>
      <h6>Horario de Atención:</h6>
      <p>8:00 AM - 6:00 PM</p>
      <h6>Teléfonos</h6>
      <p>8669-3890</p>
      <p>8770-2341</p>
      <h6>Correo</h6>
      <p>ElAsesorNic@gmail.com</p>
      <img src="https://res.cloudinary.com/drbc8csv2/image/upload/v1686894271/ferreteria_1_kx9g39.jpg" alt="placeholder"  height="auto" width="80%"></img>


  </div>
    <div class="right-section">
      <p><b>Dirección:</b> Parada Huembe Abajo, Pista de La Solidaridad, Managua</p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1950.4155459749109!2d-86.24399638753546!3d12.123706800000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73ffba9af4821d%3A0x1aad0ea524a29d09!2sFerreter%C3%ADa%20El%20Asesor!5e0!3m2!1ses!2sni!4v1686889734444!5m2!1ses!2sni" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>


{% endblock %}
