{% extends "layout.html" %}

{% block title %}
Quienes
{% endblock %}

{% block main %}
<!-- banner -->
<div class="quienes">

<h1 class="text-center">¿Cómo surgimos?</h1>
<h2 class="ferr">Ferretería <br>El Asesor</h2>
<div class="jumbotron jumbotron-fluid">
    <div class="">
        <h1 class="display-4">¡Calidad a precio asequible!</h1>
        <p class="lead">Nuestra empresa de ferretería tuvo sus modestos comienzos en un pequeño local en el corazón de
            la ciudad. Todo comenzó cuando nuestro fundador, un apasionado de la construcción y el bricolaje, se dio
            cuenta de la falta de una ferretería completa y confiable en la zona. Motivado por su amor por las
            herramientas y los materiales de construcción, decidió emprender el desafío de llenar ese vacío en el
            mercado.</p>
        <p class="lead">Con una visión clara en mente, nuestro fundador comenzó a trabajar incansablemente para hacer
            realidad su sueño. Desde el primer día, se centró en establecer relaciones sólidas con proveedores
            confiables y en seleccionar productos de alta calidad para satisfacer las necesidades de los profesionales
            de la construcción y los entusiastas del bricolaje.</p>
        <p class="lead">Hoy en día, nos enorgullece ser reconocidos como una de las ferreterías líderes en nuestra
            región. Continuamos creciendo y adaptándonos, buscando siempre nuevas formas de superar las expectativas de
            nuestros clientes. Nuestra pasión por la calidad, la innovación y el servicio excepcional sigue impulsando
            nuestro éxito, y esperamos seguir siendo un socio confiable para todos aquellos que buscan soluciones en el
            ámbito de la construcción, el mantenimiento del hogar y el bricolaje.</p>
    </div>
</div>
<div class="container text-center">
    <div class="row justify-content-evenly">
        <div class="col-sm-6 mb-3 mb-sm-0" style="margin-left: 5%;">
            <h1>Misión</h1>
        </div>
        <div class="col-sm-6" style="margin-left: 25%;">
            <h1>Visión</h1>
        </div>
    </div>
    <div class="row  d-flex justify-content-evenly">
        <div class="col">
            <h6>Nuestra misión es proporcionar a nuestros clientes productos y servicios de
                ferretería de la más alta calidad. Ofreciendo un excelente servicio al cliente
                y asesoramiento experto.</h6>
        </div>
        <div class="col">
            <h6>Nuestra visión es convertirnos en la ferretería líder en nuestra región,
                reconocida por la calidad de nuestros productos y servicios. Esforzándonos por ofrecer un amplio catálogo de productos de ferretería,
                junto con un equipo capacitado que brinde asesoramiento técnico.</h6>
        </div>
    </div>
</div>

</div>


<style>
    .columnas {
        display: flex;
    }

    .columna {
        flex: 1;
        padding: 10px;
    }
</style>


{% endblock %}